In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from scipy.stats import zscore
from scipy.stats import boxcox
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [11]:
df_res_train = pd.read_excel("Rest_Data_Train.xlsx")
df_res_test = pd.read_csv("rest_test.xlsx")

ParserError: Error tokenizing data. C error: Expected 4 fields in line 5, saw 7

In [9]:
df_res_train.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300

In [10]:
df_res_test.head()

                                      PK      ! 
0  ,äˆ&´ ’§    xl/worksheets/sheet1.xmlŒ½ÛÒ,Éq...
1            |±µ¹·qW,Ã®X¾ÿÞ˜?,_‹fKøµû÷^zðX´+ðg?í
2  |ô7m^¸h.ÚhþQ›{wÅ:ìŠõa¥X¿~M¯
«L*üáŽU»ösÕ®@...
3                                 :%žéa„¼¿6Î’8FÄ/½
4  ;EšWŠžSÚ
%Ú“iÌ¤�²²S´½oA§Œf=˜Ù+�¹X§ˆ÷ØC›WÊ...